[submodule "cloud"]
	path = cloud
	url = https://github.com/Ieris19/SEP4-5X-Cloud.git
[submodule "web"]
	path = web
	url = https://github.com/selinaceban/club-environment-system-front-end.git
[submodule "iot"]
	path = iot
	url = https://github.com/HighKingofMelons/Sep4IotDevice.git
